In [8]:
import pandas as pd
import numpy as np

In [11]:
data_dict = {"A": [21, np.nan, 22, 4, np.nan],
             "b": range(31,36),
             "C": [np.nan, np.nan, np.nan, np.nan, np.nan,],
             "D": [46, 47, np.nan, 48,49]}

df = pd.DataFrame(data_dict)

In [12]:
df

      A   b   C     D
0  21.0  31 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [23]:
total_NaN_value = df.isnull().sum().sum()
print(total_NaN_value)

8

In [18]:
forward_filled_df = df.fillna(method='ffill')
print(forward_filled_df)

      A   b   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

In [19]:
backward_filled_df = df.fillna(method='bfill')
print(backward_filled_df)

      A   b   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [20]:
fill_by_0= df.fillna(0)
print(fill_by_0)

      A   b    C     D
0  21.0  31  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0

    C
0 NaN
1 NaN
2 NaN
3 NaN
4 NaN